<div class="ui inverted vertical footer center aligned segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="wide column">

                <h4 class="ui inverted header">© 2015 KTX SOFTWARE DEVELOPMENT. ALL RIGHTS RESERVED.</h4>

            </div>
        </div>
    </div>
</div>