<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
    <div class="ui container">

        <a class="item" href="/">Home</a>
        <a class="item" href="http://api.kha.technology/">APIs</a>
        <a class="item">Learn</a>
        <a class="item" href="http://forum.ktxsoftware.com/category/2/kha">Community</a>
        <a class="item" href="http://tech.ktxsoftware.com/">Blog</a>
    </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">

    <a class="item" href="/">Home</a>
    <a class="item" href="http://api.kha.technology/">APIs</a>
    <a class="item">Learn</a>
    <a class="item" href="http://forum.ktxsoftware.com/category/2/kha">Community</a>
    <a class="item" href="http://tech.ktxsoftware.com/">Blog</a>

</div>

<!-- Page Contents -->
<div class="pusher">

    <!-- Title Segment -->
    <div class="ui vertical center aligned segment">
        <div class="tophead ui text container">
            <div class="ui header">
                <b>Kha</b>
                <p>&lt;Portable Multimedia Framework&gt;</p>
            </div>
        </div>
    </div>

    <!-- Header Segment -->
    <div class="ui inverted vertical smallhead center aligned segment">
        <div class="ui container">

            <!-- Header Menu -->
            <div class="ui large secondary inverted pointing menu">
                <div class="ui container">
                    <a class="toc item">
                        <i class="sidebar icon"></i>
                    </a>

                    <a class="item" href="/"><i class="home icon"></i> Home</a>
                    <a class="item" href="http://api.kha.technology/"><i class="book icon"></i> APIs</a>
                    <a class="item"><i class="student icon"></i> Learn</a>
                    <a class="item" href="http://forum.ktxsoftware.com/category/2/kha"><i class="comments outline icon"></i> Community</a>
                    <a class="item" href="http://tech.ktxsoftware.com/"><i class="newspaper icon"></i> Blog</a>
                </div>
            </div>
        </div>
    </div>