<div class="ui vertical inverted sidebar menu">

    <a class="item" href="/">Home</a>
    <a class="item" href="http://api.kha.technology/">APIs</a>
    <a class="item">Tutorials</a>
    <a class="item" href="http://forum.ktxsoftware.com/category/2/kha">Community</a>
    <a class="item" href="http://tech.ktxsoftware.com/">Blog</a>

</div>