[submodule "Kore"]
	path = Kore
	url = ../Kore.git
	branch = master
[submodule "Tools/khamake"]
	path = Tools/khamake
	url = ../khamake.git
	branch = master
[submodule "Backends/Kore/khacpp"]
	path = Backends/Kore/khacpp
	url = ../khacpp.git
	branch = master
[submodule "Tools/haxe"]
	path = Tools/haxe
	url = ../haxe_bin.git
	branch = master
	shallow = true
[submodule "Tools/oggenc"]
	path = Tools/oggenc
	url = ../oggenc_bin.git
	branch = master
	shallow = true
[submodule "Tools/kravur"]
	path = Tools/kravur
	url = ../kravur_bin.git
	branch = master
	shallow = true
[submodule "Tools/lame"]
	path = Tools/lame
	url = ../lame_bin.git
	branch = master
	shallow = true
