
/games/sml/projects/java/bin
/games/sml/projects/android/bin
/games/sml/projects/gwt/war/WEB-INF/classes
/games/sml/projects/gwt/.gwt
/games/zool/projects/java/bin
/games/beaver/projects/java/bin
/games/sml/projects/java/bin
/games/sml/projects/gwt/war/WEB-INF/classes
/games/beaver/projects/android/bin