[submodule "Backends/kxcpp"]
	path = Backends/kxcpp
	url = ../kxcpp
	branch = master
[submodule "Tools/hake"]
	path = Tools/hake
	url = ../hake
	branch = master
[submodule "Tools/haxe"]
	path = Tools/haxe
	url = ../haxe
	branch = master
[submodule "Kore"]
	path = Kore
	url = ../Kore
	branch = master
