---
---
<!DOCTYPE html>
<html>

{% include head.html %}

<body>

<!-- Following Menu -->
{% include menu-following.html %}

<!-- Sidebar Menu -->
{% include menu-sidebar.html %}

<!-- Page Contents -->
<div class="pusher">

    <!-- Header -->
    {% include header.html %}

    <!-- Create Segment -->
    <div class="ui vertical stripe segment">
        <div class="ui aligned stackable grid container">

            <div class="title row">
                <div class="twelve wide column">
                    <div class="ui huge header">
                        <div class="content">
                            Create
                            <div class="sub header">
                                <p>your project and conquer the world!</p>
                            </div>
                        </div>
                    </div>

                    <div class="ui addblank">
                        <p>You can easily start a new project skeleton for <b class="kha">Kha</b>. Create a new directory and from inside it run the command:</p>

                        <div class="ui large compact message squared">
                            <div class="content">
                                <p class="console">haxelib run kha --init</p>
                            </div>
                        </div>
                        <p>Now you have everything you need to rule the world. Learn how to code with <b class="kha">Kha</b> from our tutorials or proceed to the next step and <a href="build">build your game/app project to any supported target</a>.</p>
                    </div>
                </div>
                <div class="four wide column">

                    {% include help.html %}

                </div>
            </div>
        </div>
    </div>
</div>

{% include footer.html %}

</body>
</html>