---
title: "Kha Multimedia Framework / download"
---
<!DOCTYPE html>
<html>

{% include head.html %}

<body>

<!-- Sidebar Menu -->
{% include menu-sidebar.html %}

<!-- Page Contents -->
<div class="pusher">

    <!-- Header -->
    {% include header.html %}

    <!-- Download Segment -->
    <div class="ui vertical stripe segment">
        <div class="ui aligned stackable grid container add-top-padding-plus">

            <div class="title row">
                <div class="sixteen wide column">
                    <div class="ui huge header">
                        <div class="content uppercase">
                            Download
                            <div class="sub header uppercase">
                                <p>Available for Windows, OS X and Linux. You can get Kode Studio or download Kha from haxelib or GitHub.</p>
                            </div>
                        </div>
                    </div>

                    <h2 class="ui header">
                        <div class="content uppercase add-top-padding">
                            Kode Studio
                            <span class="sub header">hightly recommended</span>
                        </div>
                    </h2>
                    <p>Downloads for Windows, OSX and Linux are <a href="https://github.com/KTXSoftware/KodeStudio/releases">hosted at GitHub</a>.</p>
                    <p>To get started, short answer is unzip the archive, start the executable and open a directory (File -> Open Folder) containing a Kha project - or open an empty folder and hit the "Init Kha Project" command (Press F1, type Kha, click it).</p>
                    <p><a href="/getstarted">More details</a>.</p>
                </div>
            </div>

            <div class="ui divider"></div>

            <div class="title row">
                <div class="sixteen wide column">

                    <h2 class="ui header">
                        <div class="content uppercase">
                            Haxelib
                        </div>
                    </h2>
                    <p>Type the following command in a console or command prompt:</p>

                    <div class="ui large compact message squared">
                        <div class="content">
                            <p class="console">haxelib install kha</p>
                        </div>
                    </div>

                    <p>That's all.</p>
                </div>
            </div>

            <div class="ui divider"></div>

            <div class="title row">

                <!-- Git -->
                <div class="sixteen wide column add-bottom-padding">

                    <h2 class="ui header">
                        <div class="content uppercase">
                            GitHub
                        </div>
                    </h2>

                    <p>This workflow needs git and node (v4.0+) already installed on your computer. Kha projects are usually handled using git submodules so that every dependency is properly versioned. Even the Haxe compiler itself is just a submodule.</p>

                    <p>You can start a <b>new project</b> by cloning the <a href="https://github.com/KTXSoftware/Empty">Empty</a> template:</p>

                    <div class="ui large compact message squared">
                        <div class="content">
                            <p class="console">git clone --recursive https://github.com/KTXSoftware/Empty.git</p>
                        </div>
                    </div>


                    <p>If you <b>already have a git project</b>, to add Kha as submodule, go to the project directory in a console or command prompt and type:</p>

                    <div class="ui large compact message squared">
                        <div class="content">
                            <p class="console">git submodule add https://github.com/KTXSoftware/Kha</p>
                        </div>
                    </div>
                    <div class="ui large compact message squared">
                        <div class="content">
                            <p class="console">git submodule update --init --recursive</p>
                        </div>
                    </div>


                    <p>Then to <b>update the submodules</b> in your project you can do it with:</p>

                    <div class="ui large compact message squared">
                        <div class="content">
                            <p class="console">git submodule foreach --recursive git pull origin master</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include footer.html %}

</body>
</html>
