---
title: "Kha / download"
---
<!DOCTYPE html>
<html>

{% include head.html %}

<body>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
{% include menu-list.html %}
</div>
<!-- End Sidebar -->

<div class="pusher">

    <!-- Header Segment -->
    {% include menu-default.html %}
    {% include header.html %}
    <!-- End Header -->

    <div class="ui vertical stripe segment">
        <div class="ui aligned stackable grid container add-top-padding-plus">

            <!-- Download / Kode Studio Row -->
            <div class="title row">
                <div class="sixteen wide column">
                    <div class="ui huge header">
                        <div class="content uppercase">
                            Download
                            <div class="sub header uppercase">
                                <p>Available for Windows, OS X and Linux. You can get Kode Studio or check out Kha from GitHub.</p>
                            </div>
                        </div>
                    </div>

                    <h2 class="ui header">
                        <div class="content uppercase add-top-padding">
                            Kode Studio
                            <span class="sub header">the complete package</span>
                        </div>
                    </h2>
                    <p>You can get Kode Studio <a href="https://store.steampowered.com/app/779260/Kode_Studio/">via Steam</a>, <a href="https://www.microsoft.com/en-us/p/kode-studio/9nxdmcln8p1x">the Microsoft Store</a> or download it directly <a href="https://github.com/Kode/KodeStudio/releases">from GitHub</a>. It is available for Windows, macOS and Linux.</p>
                    <p>To get started, just run it and open a directory (File -> Open Folder) containing a Kha project - or open an empty folder and hit the "Init Kha Project" command (Press F1, type Kha, click it).</p>
                    <p><a href="/getstarted">More details</a>.</p>
                </div>
            </div>
            <!-- End Download / Kode Studio -->

            <div class="ui divider"></div>

            <!-- Git Row -->
            <div class="title row">
                <div class="sixteen wide column add-bottom-padding">

                    <h2 class="ui header">
                        <div class="content uppercase">
                            GitHub
                        </div>
                    </h2>

                    <p>This workflow needs <a href="https://git-scm.com">git</a> and <a href="https://nodejs.org">Node.js</a> (v8.0+) already installed on your computer. Kha projects are usually handled using git submodules so that every dependency is properly versioned. Even the Haxe compiler itself is just a submodule.</p>

                    <p>You can start a <b>new project</b> by cloning the <a href="https://github.com/Kha-Samples/Empty">Empty</a> template:</p>

                    <div class="ui large compact message squared">
                        <div class="content">
                            <p class="console">git clone --recursive https://github.com/Kha-Samples/Empty.git</p>
                        </div>
                    </div>

                    <p>If you <b>already have a git project</b>, to add Kha as submodule, go to the project directory in a console or command prompt and type:</p>

                    <div class="ui large compact message squared">
                        <div class="content">
                            <p class="console">git submodule add https://github.com/Kode/Kha</p>
                        </div>
                    </div>
                    <div class="ui large compact message squared">
                        <div class="content">
                            <p class="console">git submodule update --init --recursive</p>
                        </div>
                    </div>


                    <p>Then to <b>update the submodules</b> in your project you can do it with:</p>

                    <div class="ui large compact message squared">
                        <div class="content">
                            <p class="console">git submodule foreach --recursive git pull origin master</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Git -->

        </div>
    </div>
</div>

{% include footer.html %}

</body>
</html>
