---
title: "Kha / errata"
---
<!DOCTYPE html>
<html>

{% include head.html %}

<body>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
{% include menu-list.html %}
</div>
<!-- End Sidebar -->

<div class="pusher">

    <!-- Header Segment -->
    {% include menu-default.html %}
    {% include header.html %}
    <!-- End Header -->

    <div class="ui vertical stripe segment">
        <div class="ui aligned stackable grid container add-top-padding-plus">

            <div class="title row">
                <div class="sixteen wide column">
                    <div class="ui huge header">
                        <div class="content uppercase">
                            Errata
                        </div>
                    </div>

                    <p>The internet is a vast space of information but tragically not all of it is correct and when that clashes with the confusing flurry of technical wonders that is Kha, things tend to get a little confusing. Here we collect corrections for typical misunderstandings, usage errors and widespread misinformation about Kha.</p>
                    
                </div>
            </div>

            <div class="ui divider"></div>

            <div class="title row">
                <div class="sixteen wide column add-bottom-padding">

                    <h2 class="ui header">
                        <div class="content uppercase">
                            Limes and other fruits
                        </div>
                    </h2>

                    <p>This originates in a <a href="https://www.youtube.com/watch?v=GWIyTBCoYdI">Kha introduction video</a> by gamesfromscratch. It is a fine video but sadly not all of it is correct. Most importantly, there is no Lime in Kha. In fact both projects are completely unrelated.</p>

                </div>

                <div class="sixteen wide column add-bottom-padding">

                    <h2 class="ui header">
                        <div class="content uppercase">
                            haxelib git
                        </div>
                    </h2>

                    <p>Don't do that, trying to use Kha via haxelib will only cause trouble. Please use git manually.</p>

                </div>

                <div class="sixteen wide column add-bottom-padding">

                    <h2 class="ui header">
                        <div class="content uppercase">
                            I installed Haxe version x.y.
                        </div>
                    </h2>

                    <p>Support requests often start with a line like that. It's irrelevant, Kha includes its own version of Haxe and completely ignores your Haxe installation.</p>

                </div>
            </div>

        </div>
    </div>
</div>

{% include footer.html %}

</body>
</html>
