---
title: "Kha / getstarted"
---
<!DOCTYPE html>
<html>

{% include head.html %}

<body>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
{% include menu-list.html %}
</div>
<!-- End Sidebar -->

<div class="pusher">

    <!-- Header Segment -->
    {% include menu-default.html %}
    {% include header.html %}
    <!-- End Header -->

    <!-- Content Segment -->
    <div class="ui vertical stripe segment">
        <div class="ui aligned stackable grid container add-top-padding-plus">

            <!-- Install Row -->
            <div class="title row">
                <div class="sixteen wide column">
                    <div class="ui huge header">
                        <div class="content uppercase">
                            Install
                            <div class="sub header uppercase">
                                <p>everything you need.</p>
                            </div>
                        </div>
                    </div>

                    <p>Kode Studio, the official IDE for Kha, is the easiest way to get started. Download it <a href="https://store.steampowered.com/app/779260/Kode_Studio/">from Steam</a>, <a href="https://www.microsoft.com/en-us/p/kode-studio/9nxdmcln8p1x">the Microsoft Store</a> or directly <a href="https://github.com/Kode/KodeStudio/releases">from GitHub</a>.
                </div>
            </div>
            <!-- End Install -->

            <div class="ui divider"></div>

            <!-- Create Row -->
            <div class="title row">
                <div class="sixteen wide column">
                    <div class="ui huge header">
                        <div class="content uppercase">
                            Create
                            <div class="sub header uppercase">
                                <p>your project and conquer the world!</p>
                            </div>
                        </div>
                    </div>

                    <p>You can easily start a new project skeleton for Kha. Create a new directory and open it in Kode Studio via the <i>Open Folder</i> command in the <i>File</i> menu.</p>

                    <div class="ui large compact message squared">
                        <div class="content">
                            <img class="ui large image" src="assets/images/kodestudio1.png"/>
                        </div>
                    </div>

                    <p>Now hit F1 and enter Kha - hit the "Init Kha Project" option.</p>

                    <div class="ui large compact message squared">
                        <div class="content">
                            <img class="ui large image" src="assets/images/kodestudio2.png"/>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Create -->

            <div class="ui divider"></div>

            <!-- Start Row -->
            <div class="title row">
                <div class="sixteen wide column">
                    <div class="ui huge header">
                        <div class="content uppercase">
                            Start
                            <div class="sub header uppercase">
                                <p>and debug your application.</p>
                            </div>
                        </div>
                    </div>
                    <p>Batteries are included, use the debugging tab on the left (or just hit F5) to start your new Kha application.</p>

                    <div class="ui large compact message squared">
                        <div class="content">
                            <img class="ui large image" src="assets/images/kodestudio3.png"/>
                        </div>
                    </div>

                    <p>Debugging features like breakpoints work as you'd expect.</p>

                    <div class="ui large compact message squared">
                        <div class="content">
                            <img class="ui large image" src="assets/images/kodestudio4.png"/>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Start :) -->

            <div class="ui divider"></div>

            <!-- Build Row -->
            <div class="title row add-bottom-padding-plus">
                <div class="sixteen wide column">
                    <div class="ui huge header">
                        <div class="content uppercase">
                            Build
                            <div class="sub header uppercase">
                                <p>to any supported target and spread to all!</p>
                            </div>
                        </div>
                    </div>

                    <p>Kha doesn't try to directly compile projects completely. Instead it creates project files for the most popular IDEs, allowing you to debug, profile, tweak, develop or just compile the project. This is a little less convenient but much more flexible.</p>
                    <p>Hit Ctrl+Shift+B.</p>

                    <div class="ui large compact message squared">
                        <div class="content">
                            <img class="ui large image" src="assets/images/kodestudio5.png"/>
                        </div>
                    </div>

                    <p>It will bring up a list of supported target systems and build the project for the system you chose. For Windows this will generate a Visual Studio solution, for macOS an Xcode project.</p>

                    <p>Project files are by default created inside of a build subdirectory.</p>
                </div>
            </div>
            <!-- End Build -->
        </div>
    </div>
</div>

{% include footer.html %}

</body>
</html>
