---
title: "Kha Multimedia Framework"
---
<!DOCTYPE html>
<html>

{% include head.html %}

<body>

<!-- Following Menu -->
{% include menu-default.html %}

<!-- Sidebar Menu -->
{% include menu-sidebar.html %}

<!-- Page Contents -->
<div class="pusher">

    <!-- Header Segment -->
    <div class="ui inverted vertical menuhead center aligned segment">
        <div class="black layer">
            <div class="ui container">

                <!-- Header Menu -->
                <div class="ui large inverted menu">

                    <a class="toc item">
                        <i class="sidebar icon"></i>
                    </a>

                    <a class="active item" href="/"><i class="home icon"></i>Home</a>
                    <a class="item" href="http://api.kha.technology/"><i class="book icon"></i>APIs</a>
                    <a class="item" href="https://github.com/KTXSoftware/Kha/wiki/Tutorials"><i class="student icon"></i>Tutorials</a>
                    <a class="item" href="http://forum.ktxsoftware.com/category/2/kha"><i class="comments outline icon"></i>Community</a>
                    <a class="item" href="http://tech.ktxsoftware.com/"><i class="newspaper icon"></i>Blog</a>
                </div>
            </div>
        </div>
    </div>
    <div class="ui inverted vertical homehead center aligned segment">
        <div class="black layer">
            <div class="ui text container">

                <!-- Title and Subtitle -->
                <h1 class="ui inverted header">Kha</h1>
                <h2>Ultra-portable, high performance,<br/>open source multimedia framework.</h2>

                <!-- Buttons -->
                <a class="ui vertical animated large inverted secondary button squared" href="getstarted">
                    <div class="visible content">GET STARTED</div>
                    <div class="hidden content">IT'S EASY</div>
                </a>
                <a class="ui vertical animated large inverted button squared" href="download">
                    <div class="visible content">DOWNLOAD</div>
                    <div class="hidden content">IT'S FREE</div>
                </a>

            </div>

            <!-- Showcase Mini Label -->
            <div class="ui grid container gametag">
                <div class="wide column">
                    <div class="ui small black bottom right attached label squared">
                        <a href="http://luboslenco.com/notes/">Screenshot of Armory</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui vertical stripe segment main">
        <div class="ui aligned grid container">
            <div class="row under700">

                <div class="ten wide column">

                    <h3 class="ui header">True Cross-Platform</h3>
                    <p>Kha can cross-compile your code and optimize your assets for
                      even the most obscure systems. Build your applications natively to desktops, tablets, phones and consoles.
                      Implement once, run everywhere.</p>

                </div>

                <div class="one wide column"></div>

                <div class="five wide column">
                    <div class="platforms under700"><img class="ui large image" src="assets/images/platforms.png"></div>
                </div>
            </div>
        </div>

        <div class="ui aligned grid container">
            <div class="row under700">

                <div class="seven wide column">

                    <div class="kodestudio under700"><img class="ui large image" src="assets/images/kodestudio0.png"></div>

                </div>

                <div class="one wide column"></div>

                <div class="eight wide column">

                    <h3 class="ui header">Kode Studio</h3>
                    <p>Kha has its own IDE. Available for Windows, macOS and Linux, it has powerful features as IntelliSense, built-in Git and debugging right from the editor.</p>

                </div>

            </div>
        </div>

        <div class="ui aligned grid container">
            <div class="row under700">

                <div class="sixteen wide column">

                    <h3 class="ui header">Fast and Open Source</h3>
                    <p>Great performance on each platform and all the <b class="kha"><a href="https://github.com/KTXSoftware/Kha">source code</a></b>,
                      all the time - no black boxes</p>

                </div>
            </div>
        </div>
      </div>

      <div class="ui vertical stripe segment">
        <div class="ui aligned grid container">
            <div class="row under700">
                <div class="column" style="margin: 0 auto; width: auto;">

                    <a href="http://haxe.org"><img class="ui centered medium image haxe" src="assets/images/haxe.png"></a>

                </div>
            </div>
        </div>
    </div>

</div>

{% include footer.html %}

</body>
</html>
