---
---
<!DOCTYPE html>
<html>

{% include head.html %}

<body>

<!-- Following Menu -->
{% include menu-following.html %}

<!-- Sidebar Menu -->
{% include menu-sidebar.html %}

<!-- Page Contents -->
<div class="pusher">

    <!-- Header Segment -->
    <div class="ui inverted vertical homehead center aligned segment">
        <div class="black layer">
            <div class="ui container">

                <!-- Header Menu -->
                <div class="ui large secondary inverted pointing menu">

                    <a class="toc item">
                        <i class="sidebar icon"></i>
                    </a>

                    <a class="active item" href="/"><i class="home icon"></i> Home</a>
                    <a class="item" href="http://api.kha.technology/"><i class="book icon"></i> APIs</a>
                    <a class="item" href="https://github.com/KTXSoftware/Kha/wiki/Tutorials"><i class="student icon"></i> Tutorials</a>
                    <a class="item" href="http://forum.ktxsoftware.com/category/2/kha"><i class="comments outline icon"></i> Community</a>
                    <a class="item" href="http://tech.ktxsoftware.com/"><i class="newspaper icon"></i> Blog</a>
                </div>

                <!-- GitHub Corner Label -->
                <a href="https://github.com/KTXSoftware/Kha">
                    <div class="ui black right corner huge label">
                        <i class="github icon"></i>
                    </div>
                </a>
            </div>

            <div class="ui text container">

                <!-- Title and Subtitle -->
                <h1 class="ui inverted header">Kha</h1>
                <h2>Ultra-portable, high performance,<br/>open source multimedia framework.</h2>

                <!-- Buttons -->
                <a class="ui vertical animated large inverted secondary button squared" href="getstarted">
                    <div class="visible content">GET STARTED</div>
                    <div class="hidden content">IT'S EASY</div>
                </a>
                <a class="ui vertical animated large inverted button squared" href="download">
                    <div class="visible content">DOWNLOAD</div>
                    <div class="hidden content">IT'S FREE</div>
                </a>

            </div>

            <!-- Showcase Mini Label -->
            <div class="ui grid container gametag">
                <div class="wide column">
                    <div class="ui small black bottom right attached label squared">
                        <a href="http://luboslenco.com/spiralride/">Game: Spiral Ride</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Platorms Features Segment -->
    <div class="ui vertical stripe segment main">
        <div class="ui aligned grid container">
            <div class="row under550">

                <!-- Platforms Column -->
                <div class="eight wide column">

                    <h3 class="ui header">True Cross-Platform</h3>
                    <p>Build your applications natively to desktops, tablets, phones and consoles. Implement once, run everywhere: Windows, Mac, Linux, iOS, Android, Windows Phone, HTML5, Flash, Raspberry Pi, Xbox One and even Unity 3D.</p>
                    <div class="platforms under700"><img class="ui large image" src="assets/images/platforms.png"></div>
                    <p>Powered by Haxe and the krafix shader-compiler <b class="kha">Kha</b> can cross-compile your code and optimize your assets for even the most obscure systems.</p>
                    <p>It can even run on top of other game engines and its generational graphics and audio API design will get the best out of every target, supporting super fast 2D graphics as well as high end 3D graphics.</p>

                </div>

                <!-- Features Column -->
                <div class="seven wide right floated column">

                    <h3 class="ui header">Features</h3>

                    <div class="ui big list">
                        <div class="item">
                            <i class="angle right icon"></i>
                            <div class="content">
                                Great performance on each platform.
                            </div>
                        </div>
                        <div class="item">
                            <i class="angle right icon"></i>
                            <div class="content">
                                Generational graphical/audio API design.
                            </div>
                        </div>
                        <div class="item">
                            <i class="angle right icon"></i>
                            <div class="content">
                                Hardware accelerated 2D and high-end 3D graphics.
                                Fallback support (i.e. html5 canvas).
                            </div>
                        </div>
                        <div class="item">
                            <i class="angle right icon"></i>
                            <div class="content">
                                Can run on top of other game engines (i.e. Unity3D).
                            </div>
                        </div>
                        <div class="item">
                            <i class="angle right icon"></i>
                            <div class="content">
                                Write shaders in GLSL and cross-compile to target specific shaders.
                            </div>
                        </div>
                        <div class="item">
                            <i class="angle right icon"></i>
                            <div class="content">
                                Kha apps can also be compiled to C# or Java libraries
                            </div>
                        </div>
                         <div class="item">
                            <i class="angle right icon"></i>
                            <div class="content">
                                Flexible and robust backend system.
                                Adding your own takes little effort and is straight forward.
                            </div>
                        </div>
                         <div class="item">
                            <i class="angle right icon"></i>
                            <div class="content">
                                One API for all platforms!
                            </div>
                        </div>
                        <div class="item">
                            <i class="angle right icon"></i>
                            <div class="content">
                                Support for VR technology (W.I.P).
                            </div>
                        </div>
                        <div class="item">
                            <i class="angle right icon"></i>
                            <div class="content">
                                Networking multiplayer support (W.I.P).
                            </div>
                        </div>
                        <div class="item">
                            <i class="angle right icon"></i>
                            <div class="content">
                                Dedicated IDE : Kode Studio.
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% include footer.html %}

</body>
</html>
