{% if page.title == 'Kha' %}
<div class="ui inverted vertical menuhead center aligned segme
nt">
    <div class="black layer">
{% else %}
<div class="ui inverted vertical smallhead center aligned segment">
{% endif %}
        <div class="ui container">

            <!-- Header Menu -->
            {% if page.title == 'Kha' %}
            <div class="ui large inverted menu">
            {% else %}
            <div class="ui large inverted fixed menu">
            {% endif %}

                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>

                {% include menu-list.html %}

                <div class="right menu">

                    {% if page.title == 'Kha / getstarted' %}
                    <a class="item" href="/download"><i class="download icon"></i>Download</a>

                    {% elsif page.title == 'Kha / download' %}
                    <a class="item" href="/getstarted"><i class="student icon"></i>Get Started</a>
                    {% endif %}

                </div>
            </div>
        </div>
{% if page.title == 'Kha' %}
    </div>
{% endif %}
</div>
