<a class="item" href="/"><i class="home icon"></i>Home</a>
<a class="item" href="https://github.com/Kode/Kha/wiki"><i class="book icon"></i>Docs</a>
<a class="item" href="http://api.kha.tech/"><i class="book icon"></i>APIs</a>
<a class="item" href="https://github.com/Kode/Kha/wiki/Tutorials"><i class="student icon"></i>Tutorials</a>
<a class="item" href="/errata"><i class="student icon"></i>Errata</a>
<a class="item" href="http://forum.kode.tech"><i class="comments outline icon"></i>Community</a>
<a class="item" href="http://kode.tech"><i class="newspaper icon"></i>Blog</a>
