@import url(http://fonts.googleapis.com/css?family=Inconsolata);

a {
    color: #2185D0;
}

a:hover {
    color: #fff;
    background-color: #2185D0;
}

a:focus {
    color: #fff;
    background-color: #2185D0;
}

a:active {
    color: #fff;
    background-color: #2185D0;
}

.ui.help a {
    color: #2185D0;
}

.ui.help a:hover {
    color: #fff;
    background-color: #2185D0;
}

.ui.help a:focus {
    color: #fff;
    background-color: #2185D0;
}

.ui.help a:active {
    color: #fff;
    background-color: #2185D0;
}

/* * * * * * * *
 *
 * START Semantic Overrides
 *
 * */

/* LABEL - Black */
.ui.black.labels .label, .ui.black.label {
    background-color: transparent !important;
    border-color: transparent !important;
    color: rgba(255, 255, 255, 0.9) !important;
}

/* BUTTON - Inverted */
.ui.inverted.button {
    background: rgba(255, 255, 255, 0.1) none;
    box-shadow: 0 0 0 2px #ffffff inset !important;
    color: #ffffff;
}

.ui.inverted.button:hover {
    background: rgba(255, 255, 255, 0.1) none;
    box-shadow: 0 0 0 2px #ffffff inset !important;
    color: #ffffff;
}

.ui.inverted.button:focus {
    background: #ffffff;
    box-shadow: 0 0 0 2px #ffffff inset !important;
    color: #111111;
}

.ui.inverted.button:active {
    background: #ffffff;
    box-shadow: 0 0 0 2px #ffffff inset !important;
    color: #111111;
}

/* BUTTON - Secondary */
.ui.secondary.buttons .button,
.ui.secondary.button {
    background-color: rgba(0, 0, 0, 0.9);
    color: #ffffff;
    text-shadow: none;
    background-image: none;
}

.ui.secondary.buttons .button:hover,
.ui.secondary.button:hover {
    background-color: rgba(0, 0, 0, 0.9);
    color: #ffffff;
    text-shadow: none;
}

.ui.secondary.buttons .button:focus,
.ui.secondary.button:focus {
    background-color: #ffffff;
    color: #111111;
    text-shadow: none;
}

.ui.secondary.buttons .button:active,
.ui.secondary.button:active {
    background-color: #ffffff;
    color: #111111;
    text-shadow: none;
}

/* STEP - Link Hover */
.ui.steps .link.step:hover::after,
.ui.steps .link.step:hover,
.ui.steps a.step:hover::after,
.ui.steps a.step:hover {
    background: #eee;
    border-radius: 0;
}

.ui.steps .link.step:focus::after,
.ui.steps .link.step:focus,
.ui.steps a.step:focus::after,
.ui.steps a.step:focus {
    background: #eee;
    border-radius: 0;
    outline: 0;
}

.ui.steps .link.step:active::after,
.ui.steps .link.step:active,
.ui.steps a.step:active::after,
.ui.steps a.step:active {
    background: #ddd;
    border-radius: 0;
    outline: 0;
}

/* STEP - Header Style */
.ui.header .step-number {
    font-size: 1em;
}

.ui.header > .icon + .content {
    font-size: 0.8em;
}

/* SEGMENT - Inverted */
.ui.inverted.segment,
.ui.primary.inverted.segment {
    background: #000015;
    color: rgba(255, 255, 255, 0.9);
}

/* MESSAGE - Info - Help */
.ui.info.message,
.ui.attached.info.message {
    box-shadow: 0px 0px 0px 1px hsla(205,54%,81%,1) inset, 0px 0px 0px 0px rgba(0, 0, 0, 0);
}
.ui.info.message {
    background-color: #f8ffff;
    color: hsla(207,55%,58%,1);
}

/* *
 *
 * END Semantic Overrides
 *
 * START Semantic Customization
 *
 * */

/* GitHub Corner Label */
.ui.corner .github {
    top: 0.2em !important;
    padding-right: 0.8em;
    font-size: 1.7em !important;
}

/* Remove menu border */
.ui.secondary.inverted.pointing.menu {
    border-width: 0;
}

/* Remove shadow frame and fill background */
.ui.message {
    background: #EFEFEF;
    box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.05) inset, 0 0 0 0 rgba(0, 0, 0, 0);
}

/* Set menu items to white and smerald theme */
.ui.secondary.inverted.menu .link.item, .ui.secondary.inverted.menu a.item {
    color: rgb(255, 255, 255) !important;
}

.ui.secondary.inverted.menu .link.item, .ui.secondary.inverted.menu a.item:hover {
    border-bottom-width: 0;
    border-bottom-color: transparent;
}

.ui.secondary.inverted.menu .link.item,
.ui.secondary.inverted.menu .active.item,
.ui.secondary.inverted.menu a.item:active {
    border-bottom-color: transparent !important;
    outline: 0;
}

/* Set fixed menu items to white and smerald theme */
.ui.menu.fixed .link.item, .ui.menu.fixed a.item:focus {
    background-color: #ddd !important;
    outline: 0;
}

.ui.menu.fixed .link.item, .ui.menu.fixed a.item:active {
    background-color: #ddd !important;
    outline: 0;
}

/* Messages */
.ui.compact.message {
    display: table;
}

/* Warning Message - Change to smerald color */
.ui.warning.message {
    box-shadow: 0 0 0 1px rgb(255, 85, 85) inset;
    background-color: rgba(255, 0, 0, 0.63);
    border-radius: 0;
    color: rgb(255, 255, 255);
    width: max-content;
}

.ui.warning.message .header {
    color: rgb(255, 255, 255);
}

/* *
 *
 * END Semantic Customization
 *
 * START Site Customization
 *
 * */

/* Homepage HEADER Content */
.homehead.center.aligned.segment {
    background: url("../../assets/images/head.png") center;
    background-size: cover;
    padding: 0;
}

.homehead h1.ui.header {
    margin-top: 1.60em;
    margin-bottom: 0;
    color: white;
    font-family: "Arial";
    font-size: 4.5em;
    font-weight: bold;
    text-shadow: 0 1px 0 #999,
    0 2px 0 #909090,
    0 3px 0 #888,
    0 14px 10px rgba(0, 0, 0, 0.45),
    0 24px 2px rgba(0, 0, 0, 0.1),
    0 34px 30px rgba(0, 0, 0, 0.1);
}

.homehead h2 {
    color: white;
    font-size: 1.7em;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.homehead p {
    color: rgb(255, 255, 255);
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 1.33em;
    font-weight: normal;
}

/* Small HEADER */
.smallhead.center.aligned.segment {
    background-color: #2185d0 !important;
    padding-bottom: 20px;
}

.tophead div.ui.header b,
.smallhead div.ui.header b {
    color: #111;
    font-family: "Arial";
    font-size: 2.5em;
}

.tophead div.ui.header,
.smallhead div.ui.header {
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 1.33em;
    font-weight: normal;
    padding: 20px;
}

/* GET STARTED and DOWNLOAD buttons */
.homehead .ui.button {
    margin-top: 1.5em;
}

/* Set mouse cursor on github icon hover */
.ui.black.right.corner.huge.label > i.github.icon {
    cursor: pointer;
}

/* Stripes Segments */
.ui.vertical.stripe {
    padding: 3em 0;
}

.ui.vertical.stripe h3 {
    font-size: 3em;
}

.ui.vertical.stripe p {
    font-size: 1.33em;
}

.ui.vertical.stripe.segment.end {
    margin-bottom: 6em !important;
    padding: 6em 0 !important;
}

.ui.vertical.stripe.segment.main {
    padding: 6em 0 !important;
}

/* Squarify Components */
.squared {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    border-radius: 0 !important;
}

/* FOOTER Content */
.footer.segment {
    padding: 3em 0;
}

/* Steps Icons Number */
.ui.header .step-number {
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/* White Divider */
.ui.divider.white {
    margin: 0 !important;
    border: 0 !important;
}

/* Engines Segment */
.ui.vertical.stripe.engines {
    background-color: #2185D0 !important;
    padding: 6em 0 !important;
}

.ui.vertical.stripe.engines h3 {
    font-size: 3.5em;
}

.ui.vertical.stripe.engines p {
    font-size: 2.5em !important;
}

/* Others Customizations */
.hidden.menu {
    display: none;
}

.title.row {
    margin: 40px 0;
}

.toc.item {
    display: none !important;
}

.platforms {
    padding: 30px 0 50px 0;
}

.gametag {
    margin-top: 120px !important;
}

.console {
    font-family: "Inconsolata";
    font-size: 1.2em !important;
}

.txt-centre {
    text-align: center;
}

.kha {
    font-family: "Arial";
    font-size: 1em;
}

.support {
    position: absolute;
    top: 0;
}

.addblank {
    margin: 20px !important;
}

/* *
 *
 * END Site Customization
 *
 * * * * * * * */

@media only screen and (max-width: 450px) {

    /* HEADER */
    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
        display: none;
    }

    .homehead.segment {
        min-height: 250px;
    }

    .homehead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }

    .homehead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }

    /* Hide Fixed Menu and Show Sidebar Menu */
    .ui.fixed.menu {
        display: none !important;
    }

    .toc.item {
        display: block !important;
    }
}