<!DOCTYPE html>
<html>

<%- include('../partials/head') %>

<body>

<%- include('../partials/header') %>

<!-- Create Segment -->
<div class="ui vertical stripe segment end">
    <div class="ui aligned stackable grid container">

        <div class="title row">
            <div class="twelve wide column">
                <div class="ui huge header">
                    <div class="content">
                        Build
                        <div class="sub header">
                            <p>to any supported target and spread to all.</p>
                        </div>
                    </div>
                </div>

                <div class="ui addblank">
                    <p>Download and install the latest version from the official site (<a href="http://haxe.org/download/">haxe.org/download</a>). If you need assistance, the community is always ready to help. Visit the official page at: <a href="http://haxe.org/community/community-support.html">haxe.org/community/community-support.html</a>.</p>
                </div>
            </div>
            <div class="four wide column">

                <%- include('../partials/help') %>

            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>

</body>
</html>