<!DOCTYPE html>
<html>

<%- include('../partials/head') %>

<body>

<%- include('../partials/header') %>

<!-- Create Segment -->
<div class="ui vertical stripe segment end">
    <div class="ui aligned stackable grid container">

        <div class="title row">
            <div class="wide column">
                <div class="ui huge header">
                    <div class="content">
                        Create
                        <div class="sub header">
                            <p>your project! Blah blah blah...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>

</body>
</html>