<!DOCTYPE html>
<html>

<%- include('../partials/head') %>

<body>

<%- include('../partials/header') %>

    <!-- Install Segment -->
    <div class="ui vertical stripe segment end">
        <div class="ui aligned stackable grid container">

            <div class="title row">
                <div class="twelve wide column">
                    <div class="ui huge header">
                        <div class="content">
                            Install
                            <div class="sub header">
                                <p>everything you need is easy. Follow these steps!</p>
                            </div>
                        </div>
                    </div>

                    <div class="ui large header addblank">
                        <i class="step-number icon">1</i>
                        <div class="content">
                            Haxe
                            <div class="sub header">Cross-Platform Toolkit</div>
                        </div>
                    </div>

                    <p>Download and install the latest version from the official site (<a href="http://haxe.org/download/">haxe.org/download</a>). If you need assistance, the community is always ready to help. Visit the official page at: <a href="http://haxe.org/community/community-support.html">haxe.org/community/community-support.html</a>.</p>

                    <div class="ui large header">
                        <i class="step-number icon">2</i>
                        <div class="content">
                            Kha
                            <div class="sub header">Portable Multimedia Framework</div>
                        </div>
                    </div>

                    <p>We support Haxelib, the package manager for the Haxe Toolkit. To install <b class="kha">Kha</b>, inside a command prompt or terminal, type the following command:</p>

                    <div class="ui large compact message squared">
                        <div class="content">
                            <p class="console">haxelib install kha</p>
                        </div>
                    </div>

                    <p>Yes, that's all, but don't close the command prompt or terminal yet! Go to the next step: <a href="/getstarted/create">create your game/app project</a>.</p>
                </div>
                <div class="four wide column">

<%- include('../partials/help') %>

                </div>
            </div>
        </div>
    </div>

<%- include('../partials/footer') %>

</body>
</html>