<div class="ui info message help">
    <div class="header">
        Need help?
    </div>
    <p>Ask the community</p>
    Join our forum or IRC channel to ask questions about Kha.<br><br>
    You can find more info <b><a href="/community">here</a></b>.

</div>